* {
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .none {
    display: none !important; 
  }
  
  /* font */
  
  @font-face {
      font-family: 'garage';
      src: url('fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf');
  }
  
  @font-face {
    font-family: 'garage_2';
    src: url('fonts/EB_Garamond/static/EBGaramond-BoldItalic.ttf');
  }
  
  @font-face {
      font-family: 'garage_3';
      src: url('fonts/EB_Garamond/static/EBGaramond-Medium.ttf');
  }   


  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ptsans/v17/jizaRExUiTo99u79D0-ExdGM.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  
  
  
  
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'garage'; 
    /* background-color: black; */
  
  
  }
  
  .open {
    display: flex !important;
  }
  
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    background-color: rgba(0, 4, 33, 1);
    /* color: #faf6f2; */
    padding: 0 40px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    /* width: 100%; */
  }
  
  .menu .block {
    width: 100%;
    height: 140px;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .logo {
    /* background-image: url();
    background-size: cover; */
    width: 290px;
    height: 105px;
    /* background-color: rgba(0, 4, 33, 1); */
    /* background-color: blue;   */
    display: flex;
  }
  
  .nav {
    display: flex;
    width: 435px;
    padding: 0 40px;
    margin-right: 30px;
    /* background-color: red; */
  }
  
  .nav .mini_menu {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* background-color: green; */
  }
  
  .nav .mini_menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    font-weight: lighter;
  }
  
  .nav .mini_menu a .link_menu_1 p {
    font-weight: light;
  }
  
  .nav .mini_menu a:hover {
    color: orange;
  }
  
  .burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
  }
  
  .burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: grey;
  }
  
  .burger::before, .burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: grey;
    transition: all 0.3s ease 0s;
  }
  
  .burger::before { top: 0 }
  
  .burger::after { bottom: 0 }
  
  .burger.active span { transform: scale(0) }
  
  .burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  
  .burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  
  @media (max-width: 900px) {
    .burger { display: flex; }
  
    .nav {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: rgba(0, 4, 33, 1);
        animation: burgerAnimation 0.4s;
    }
  
    .nav .mini_menu {
        flex-direction: column;
        row-gap: 30px;
    }
  
    @keyframes burgerAnimation {
        from {opacity: 0}
        to {opacity: 1}
    }
  
    .menu .block {
        width: 600px;
    }
  
    
  
    .logo {
        margin-right: 50px;
    }
  }
  
  @media (max-width: 710px) {
    .menu .block {
        width: 100%;
    }
  }
  
  @media (max-width: 610px) {
    .menu .block {
        width: 100%;
    }
  }
  
  @media (max-width: 510px) {
    .menu {
        padding: 0 0 0 0;
    }
    
    .menu .block {
        width: 100%;
    }
  
    .burger {
        margin-right: 10px;
    }
  
    .logo {
        margin-left: 10px;
    }
  }
  
  .logo .photo {
    height: 105px;
    width: 105px;
    /* background-color: aquamarine; */
    background-image: url(photos/logo_siberia.png);
    background-size: cover;
    border-radius: 50%;
  }
  
  .logo .text {
    height: 105px;
    width: 185px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
  }
  
  .logo .text .main_text {
    width: 185px;
    height: 45px;
    /* background-color: red; */
    font-family: 'garage';
    font-size: 28px;
    line-height: 40px;
  }
  
  .logo .text .main_text h2 {
    margin-left: 10px;
    color: white;
    font-weight: 400;
  }
  
  .logo .text .mini_text_1 {
    height: 18px;
    width: 185px;
    /* background-color: darkred; */
  }
  
  .logo .text .mini_text_2 {
    height: 18px;
    width: 185px;
    /* background-color: forestgreen; */
  }
  
  .logo .text .mini_text_3 {
    height: 18px;
    width: 185px;
    /* background-color: hotpink; */
  }
  
  .logo .text .textis p {
    margin-left: 15px;
    color: white;
  }
  
  @media (max-width: 500px) {
    .logo {
      width: 210px;
      height: 85px;
    }
  
    .logo .photo {
      width: 75px;
      height: 75px;
    }
  
    .logo .text {
      height: 85px;
      width: 135px;
    }
  
    .logo .text .main_text {
      font-size: 20px;
    }
  
    .logo .text .textis {
      width: 135px;
    }
  
    .logo .text .textis p {
      font-size: 12px;
    }
  
    .menu .block {
      height: 100px;
    }
}



/*  */

/* footer */

  /* footer */
  
  .footer {
    height: 600px;
    width: 100%;
    background-color: aquamarine;
    display: flex;
  }
  
  .footer .block_1 {
    width: 750px;
    height: 600px;
    background-color: rgba(0, 4, 33, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer .block_1 .logo {
    margin-top: 75px;
    margin-bottom: 100px;
    margin-right: 200px;
  }
  
  .footer .block_1 .logo .photo {
    height: 105px;
    width: 105px;
    /* background-color: aquamarine; */
    background-image: url(photos/logo_siberia.png);
    background-size: cover;
    border-radius: 50%;
  }
  
  .footer .block_1 .logo .text {
    height: 105px;
    width: 185px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
  }
  
  .footer .block_1 .logo .text .main_text {
    width: 185px;
    height: 45px;
    /* background-color: red; */
    font-family: 'garage';
    font-size: 28px;
    line-height: 40px;
  }
  
  .footer .block_1 .logo .text .main_text h2 {
    margin-left: 10px;
    color: white;
    font-weight: 400;
  }
  
  .footer .block_1 .logo .text .mini_text_1 {
    height: 18px;
    width: 185px;
    /* background-color: darkred; */
  }
  
  .footer .block_1 .logo .text .mini_text_2 {
    height: 18px;
    width: 185px;
    /* background-color: forestgreen; */
  }
  
  .footer .block_1 .logo .text .mini_text_3 {
    height: 18px;
    width: 185px;
    /* background-color: hotpink; */
  }
  
  .footer .block_1 .logo .text .textis p {
    margin-left: 15px;
    color: white;
  }
  
  .footer .block_1 .text_motivation {
    width: 300px;
    height: 150px;
    /* background-color: red; */
    margin-right: 200px;
  }
  
  .footer .block_1 .text_motivation h1 {
    font-size: 52px;
    font-weight: 400;
    color: white;
  }
  
  .footer .block_1 a {
    text-decoration: none;
    margin-right: 200px;
  }
  
  .footer .block_1 .block_33 {
    width: 300px;
    height: 150px;
  }
  
  .footer .block_1 .block_33 .block_3 {
    width: 180px;
    height: 60px;
    /* background-color: deeppink; */
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
  }
  
  .footer .block_1 .block_33 .block_3 p {
    display: block;
    color: white;
    font-size: 22px;
    text-shadow: 3px -4px 5px black;
  }
  
  .footer .block_1 .block_33 .block_3 p:hover {
    color: orange;
  }
  
  /* block_2 */
  .footer .block_2 {
    height: 600px;
    width: 1px;
    background-color: grey;
  }
  
  .footer .block_3 {
    width: 770px;
    height: 600px;
    background-color: rgba(0, 4, 33, 1);
  }
  
  .footer .block_3 .block_email {
    width: 300px;
    height: 150px;
    /* background-color: red; */
    margin-top: 75px;
    margin-bottom: 100px;
    margin-left: 150px;
  }
  
  .footer .block_3 .block_email h2 {
    color: white;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 15px;
  }
  
  .footer .block_3 .block_email h3 {
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
  }
  
  .footer .block_3 .block_adress {
    width: 300px;
    height: 150px;
    /* background-color: red; */
    margin-left: 150px;
  }
  
  .footer .block_3 .block_adress h2 {
    color: white;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 15px;
  }
  
  .footer .block_3 .block_adress h3 {
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
  }
  
  @media(max-width: 1000px) {
    .footer {
      flex-direction: column;
      height: 1201px;
    }
  
    .footer .block_1 {
      width: 100%;
    }
  
    .footer .block_2 {
      height: 1px;
      width: 100%;
    }
  
    .footer .block_3 {
      width: 100%;
    }
  
    .footer .block_3 .block_email {
      margin-left: 235px;
    }
  
    .footer .block_3 .block_adress {
      margin-left: 235px;
    }
  }
  
  @media(max-width: 800px) {
    .footer .block_3 .block_email {
      margin-left: 100px;
    }
  
    .footer .block_3 .block_adress {
      margin-left: 100px;
    }
  }
  
  @media(max-width: 600px) {
    .footer .block_1 {
      align-items: self-start;
    }
  
    .footer .block_1 .logo {
      margin-right: 0;   
      margin-left: 30px;
    }
  
    .footer .block_1 .text_motivation {
      margin-left: 30px;
    }
  
    .footer .block_1 a {
      margin-left: 30px;
    }
  
    .footer .block_1 .text_motivation {
      margin-right: 0;
    }
  
    .footer .block_1 a {
      margin-right: 0;
    }
  
    .footer .block_3 .block_email {
      margin-left: 30px;
    }
  
    .footer .block_3 .block_adress {
      margin-left: 30px;
    }
  }
  
  @media(max-width: 500px) {
    .logo {
      width: 300px;
      height: 100px;
    }
  
    .logo .photo {
      width: 75px;
      height: 75px;
    }
  
    .logo .text {
      height: 85px;
      width: 135px;
    }
  
    .logo .text .main_text {
      font-size: 20px;
    }
  
    .logo .text .textis {
      width: 135px;
    }
  
    .logo .text .textis p {
      font-size: 12px;
    }
  
    .footer .block_1 .text_motivation {
      width: 300px;
      height: 100px;
      /* background-color: red;  */
      margin-right: 200px;
    }
  
    .footer .block_1 .text_motivation h1 {
      font-size: 40px;
      font-weight: 400;
      color: white;
    }
  }

.main_page {
  color: orange;
}

/* main_info */

.main_information {
  height: 600px;
  width: 100%;
  /* background-color: rebeccapurple; */
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.main_information .block_1 {
  width: 100%;
  height: 200px;
  /* background-color: rgb(220, 66, 66); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.main_information .block_1 .main_text {
  height: 50px;
  width: 700px;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_information .block_1 .orange_line {
  width: 800px;
  height: 15px;
  background-color: orange;
  margin-top: 15px;
}

.main_information .block_1 .main_text h1 {
  font-size: 55px;
  font-weight: 400;
  display: block;
}

/*  */

.main_information .block_2 {
  width: 100%;
  height: 400px;
  /* background-color: rgb(54, 150, 54); */
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
}

.main_information .block_2 a {
  text-decoration: none;
}

.main_information .block_2 .mini_block_1 {
  width: 450px;
  height: 350px;
  /* background-color: rgb(201, 236, 26); */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(business_photos/copy_photo_1.jpg);
  background-size: cover;
  transition: transform 0.2s ease-in;
}

.main_information .block_2 .mini_block_1:hover {
  transform: translateY(-15px);
}

.main_information .block_2 .mini_block_1 h2 {
  font-size: 25px;
  color: white;
  display: block;
  text-shadow: 1px 1px 1px black;
}

/*  */

.main_information .block_2 .mini_block_2 {
  width: 450px;
  height: 350px;
  /* background-color: rgb(201, 236, 26); */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(business_photos/copy_photo_2.jpg);
  background-size: cover;
  transition: transform 0.2s ease-in;
}

.main_information .block_2 .mini_block_2:hover {
  transform: translateY(-15px);
}

.main_information .block_2 .mini_block_2 h2 {
  font-size: 25px;
  color: white;
  display: block;
  text-shadow: 1px 1px 1px black;
}

/*  */

.main_information .block_2 .mini_block_3 {
  width: 450px;
  height: 350px;
  /* background-color: rgb(201, 236, 26); */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(business_photos/photo_copy_3.jpg);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  transition: transform 0.2s ease-in;
}

.main_information .block_2 .mini_block_3:hover {
  transform: translateY(-15px);
}

.main_information .block_2 .mini_block_3 h2 {
  font-size: 25px;
  color: white;
  display: block;
  text-shadow: 1px 1px 1px black;
}

.grey_line_page {
  width: 100%;
  height: 1px;
  background-color: grey;
  margin-bottom: 100px;
}

@media(max-width: 1200px) {
  .main_information .block_2 .mini_block_1 {
    width: 350px;
  }

  .main_information .block_2 .mini_block_2 {
    width: 350px;
  }

  .main_information .block_2 .mini_block_3 {
    width: 350px;
  }
}

@media(max-width: 1050px) {
 .main_information {
  height: 1400px;
 } 

 .main_information .block_2 {
  height: 1200px;
  flex-direction: column; 
 }

 .main_information .block_2 .mini_block_1 {
  width: 900px;
  background-image: url(business_photos/metallic-propeller-turning-inside-modern-airplane-engine-generated-by-ai.jpg);
 }

 .main_information .block_2 .mini_block_2 {
  width: 900px;
  background-image: url(business_photos/colorful-farm-fields-from-sunflower-wheat-rye-corn.jpg);
 }

 .main_information .block_2 .mini_block_3 {
  width: 900px;
  background-image: url(business_photos/ceo-blue-suit-close-up.jpg);
 }
}

@media(max-width: 900px) {
  .main_information .block_2 a {
    width: 100%;
  }

  .main_information .block_2 a .mini_block_1 {
    width: 100%;
  }

  /*  */

  .main_information .block_2 a .mini_block_2 {
    width: 100%;
  }

  /*  */

  .main_information .block_2 a .mini_block_3 {
    width: 100%;
  }



  /*  */
}

@media(max-width: 800px) {
  .main_information .block_1 .orange_line {
    width: 400px;
  }
}

@media(max-width: 700px) {
  .main_information .block_1 .main_text {
    width: 400px;
    height: 80px;
  }

  .main_information .block_1 .main_text h1 {
    font-size: 45px;
  }

  .main_information {
    margin-bottom: 50px;
  }

  .grey_line_page {
    margin-bottom: 50px;
  }
}

@media(max-width: 400px) {
  .main_information .block_1 .main_text {
    width: 300px;
  }

  .main_information .block_1 .main_text h1 {
    font-size: 30px;
  }

  .main_information .block_1 .orange_line {
    width: 300px;
  }
}